.footer {
  border-radius: 0;
  color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: repeating-radial-gradient(
    circle,
    purple,
    purple 30px,
    #4b026f 30px, 
    #4b026f 60px
  );
}

mat-card-content {
  display: inline-block;
  margin: 0 10px;
  padding: 5px;
}

.container {
  display: flex;
}

.tcgdpr {
  line-height: 27px;
  border-radius: 0;
  text-align: left;
}

.copy, .mandatory-links, .contact-links {
  display: flex;
  flex-direction: column;
}

.social {
  margin: 0 10px;
  color: white;
  padding: 5px;
}

.tcgdpr:hover, .social:hover {
  background-color: white;
  color: #b042f4;
}

@media screen and (max-device-width: 720px) {
  .container {
    flex-direction: column;
  }
}