.footer {
  border-radius: 0;
  color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: repeating-radial-gradient(
    circle,
    purple,
    purple 30px,
    #4b026f 30px, 
    #4b026f 60px
  );
}

mat-card-content {
  display: inline-block;
  margin: 0 10px;
  padding: 5px;
}

.tcgdpr {
  line-height: 27px;
  text-decoration: underline;
  text-align: left;
}

.copy, .mandatory-links, .contact-links {
  display: flex;
  flex-direction: column;
}

.copy {
  align-items: flex-end;
}

.social {
  margin: 0 10px;
  color: white;
  padding: 5px;
}

.tcgdpr:hover, .social:hover {
  background-color: white;
  color: #b042f4;
}

@media screen and (max-device-width: 720px) {
  .footer {
    flex-direction: column;
    flex-wrap: wrap;
    height: 115px;
    justify-content: flex-start;
  }

  .mandatory-links {
    align-items: flex-end;
  }
}