<mat-card class="footer">
  <mat-card-content>Lucian Ciobanu&copy;</mat-card-content>
  <mat-card-content>Terms & Conditions</mat-card-content>
  <mat-card-content>lucian.cbn@gmail.com</mat-card-content>
  <mat-card-content>0040757785268</mat-card-content>
  <div>
    <mat-card-content><a class="social" href="www.facebook.com/suntlucian">fb</a></mat-card-content>
    <mat-card-content><a class="social" href="https://www.linkedin.com/in/lucianciob4nu">in</a></mat-card-content>
    <mat-card-content><a class="social" href="https://medium.com/@lucian.cbn">m</a></mat-card-content>
  </div>
</mat-card>
