<mat-card class="contact-form">
  <div class="wrapper">
    <mat-card-title>Need help?</mat-card-title>
    <mat-card-subtitle>Would love to know more about your project via the form below or contact details in the footer.</mat-card-subtitle>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdAeNxjogzBAV2z1ZWwUgaCUrU90YpVXfc_GThrJo04JqkKqA/viewform?embedded=true" width="100%" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    <div class="social-link">
      <mat-card-content>See my detailed curriculum vitae on <a class="social" href="www.linkedin.com/in/lucianciob4nu">LinkedIn</a><br/>or read some of my articles on <a class="social" href="www.medium.com/lucian.cbn">Medium</a></mat-card-content>
    </div>
  </div>
  <mat-icon class="scroll-button" (click)="scrollService.scrollTo('header')">expand_less</mat-icon>
</mat-card>
