<mat-card class="projects">
  <div class="wrapper">
    <mat-card-title>IT projects:</mat-card-title>
    <ngu-carousel #myCarousel [inputs]="carouselConfig" [dataSource]="carouselItems">
      <div *nguCarouselDef="let item;" class="item">
        <mat-card-subtitle>{{item[0]}}</mat-card-subtitle>
        <a href={{item[1]}}><div class="tile" [style.background-image]="item[2]"></div></a>
      </div>
      <button NguCarouselNext class="rightRs"><mat-icon>navigate_next</mat-icon></button>
      <button NguCarouselPrev class="leftRs"><mat-icon>navigate_before</mat-icon></button>
      <ul class="myPoint" NguCarouselPoint>
        <li *ngFor="let j of myCarousel.pointNumbers; let j = index" [class.active]="j==myCarousel.activePoint" (click)="myCarousel.moveTo(j)"></li>
      </ul>
    </ngu-carousel>
  </div>
</mat-card>