<mat-card class="projects">
  <div class="wrapper">
    <mat-card-title>Projects I've been involved in</mat-card-title>
    <mat-card class="project-element">
      <mat-card-subtitle>Front End Developer for Ubisoft's site revamp</mat-card-subtitle>
      <a href="https://www.ubisoft.com"><img mat-card-image src="assets/images/ubisoft.png" alt="Image of Ubisoft website"></a>
    </mat-card>
    <mat-card class="project-element">
      <mat-card-subtitle>Business Analyst for American Outdoor Brands stores</mat-card-subtitle>
      <a href="https://www.bubbablade.com/"><img mat-card-image src="assets/images/bubbablade.png" alt="Image of Bubba Blade website" ></a>
    </mat-card>
    <mat-card class="project-element">
      <mat-card-subtitle>Project Manager and Business Analyst for AbonamenteSali system</mat-card-subtitle>
      <a href="https://www.abonamentesali.ro/"><img mat-card-image src="assets/images/absali.png" alt="Image of Abonamente Sali website"></a>
    </mat-card>
  </div>
</mat-card>