<mat-card class="services">
  <div class="wrapper">
    <mat-card-title>Web consulting services</mat-card-title>
    <mat-card-subtitle>I want to improve life through software. I want to build things, learn from failures, grow, be proud and never stop. I always try to understand reality, use logic, dig to the root cause, design soutions and execute.<mat-divider [inset]="true"></mat-divider>I am a graduate survey engineer, currently working as an Angular web developer with hands-on experience in IT project management, IT business analysis, QA, design sprints, industrial engineering, pricing and offering, OCTG, quantity surveying.</mat-card-subtitle>
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
      <!-- This is the tree node template for leaf nodes -->
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
        <li class="mat-tree-node">
          <!-- use a disabled button to provide padding for tree leaf -->
          <button mat-icon-button disabled></button>
          {{node.name}}
        </li>
      </mat-tree-node>
      <!-- This is the tree node template for expandable nodes -->
      <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
        <li>
          <div class="mat-tree-node" matTreeNodeToggle>
            <button mat-icon-button
                    [attr.aria-label]="'toggle ' + node.name">
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
            {{node.name}}
          </div>
          <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
            <ng-container matTreeNodeOutlet></ng-container>
          </ul>
        </li>
      </mat-nested-tree-node>
    </mat-tree>
  </div>
</mat-card>